# Dependencies
node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example

# Vercel & Deployment builds
.vercel/
dist/
build/

# Logs & Debugbing
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# System & OS Files
.DS_Store
Thumbs.db

# IDE & Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
